*.o
philo_one/philo_one
philo_two/philo_two
philo_three/philo_three
*.a
minishell.dSYM
minishell.dSYM/Contents/Resources/DWARF/minishell
.vscode/launch.json
output
/output
/.DS_Store
/output.*
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
auxiliary/
cmake-build-debug/
/.vscode/
philo_one.dSYM/
philo_one/a.out
cesar_test/
rchalie_test/